.outer{
  display: flex;
  justify-content: center;
  align-items: center;

  height:100%;
    /* ▼ これは position プロパティの値に static 以外が指定されていないと有効にならない */
  /* 参照: https://developer.mozilla.org/ja/docs/Web/CSS/position#values */
  /* top:50%; */
}

.inner{
  position: relative;
  
}

.btn-list{
background-image:url("../images/title.png");
position:absolute;
width:100%;
height:100%;

top:0;
left:0;

}




/* .btn-list が非表示の時のスタイル */
.btn-list-hidden {
  display: none;
}