

*,
*:before,
*:after {
  
  box-sizing: inherit;
  
}

html {
 
  box-sizing: border-box;
  font-size: 62.5%;
  
}

.btn {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
  
  padding: 1rem 4rem;
  cursor: pointer;
  
  user-select: none;
  
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #14175A;
  border-radius: 0.5rem;
  

}

a.btn-border1 {
  margin-bottom: 12px;
  padding: 0;

 
  transition: all 0.3s;

  border-radius: 0;

  position:relative;
  display:block;
}

a.btn-border1 span {
  position: relative;

  display: block;

  padding: 1.25rem 3rem;

  color: #14175A;
  border: 2px solid #14175A;
  border-radius: 0.5rem;
  background: rgb(255, 255, 255);
}

a.btn-border1:before {
  position: absolute;
  bottom: -8px;
  left: 0;

  display: block;

  width: 100%;
  height: 14px;

  content: "";
  
  transition: all 0.3s;

  border: 2px solid #14175A;
  border-top: 1px solid #14175A;
  border-radius: 0 0 0.5rem 0.5rem;
  background-image: -webkit-repeating-linear-gradient(
    135deg,
    #14175A,
    #14175A 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    -45deg,
    #14175A,
    #14175A 1px,
    transparent 2px,
    transparent 5px
  );
  background-size: 7px 7px;

 
  backface-visibility: hidden;
}

a.btn-border1:hover {
  transform: translate(0, 3px);
}

a.btn-border1:hover:before {
  bottom: -5px;
}

a.btn-border1:active {
  transform: translate(0, 7px);
}

a.btn-border1:active:before {
  bottom: -1px;
}